@font-face{
    font-family: timer;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    text-align: center;
}

#home-score {
    background: #0a0001;
    color: #F94F6D;
    font-size: 90px;
    font-family: timer;
    width: 120px;
    margin: 20px;
    padding: 20px;
}

#guest-score {
    background: #0a0001;
    color: #F94F6D;
    font-family: timer;
    font-size: 90px;
    width: 120px;
    margin: 20px;
    padding: 20px;
}

button{
    background: #1B244A;
    color:#9AABD8;
    font-family: timer;
    font-weight: bold;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

button:active{
    background: white;
}

#reset-btn{
    height : 5vh;
    margin-top: 250px;
    width: 80px;
    height: 60px;

}

h2{
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    color: white;
    height: 100vh;
    width: 100vw;
}